<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor:</strong>
  <%= @qualification.doctor_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @qualification.title %>
</p>

<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>
