<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Graduation year:</strong>
  <%= @doctor.graduation_year %>
</p>

<p>
  <strong>College:</strong>
  <%= @doctor.college %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @doctor.specialty %>
</p>

<p>
  <strong>Country:</strong>
  <%= @doctor.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @doctor.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @doctor.address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @doctor.telephone %>
</p>

<p>
  <strong>Examination cost:</strong>
  <%= @doctor.examination_cost %>
</p>

<p>
  <strong>Counseling cost:</strong>
  <%= @doctor.counseling_cost %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
